<div class="card mt-5 mb-5">
    <div class="card-body">
        <h2 class="text-center pb-3">Registro</h2>
        <div class="input-group mb-3">
            <span class="input-group-text">Nombres y apellidos</span>
            <input type="text" aria-label="First name" placeholder="Juan Pedro" class="form-control">
            <input type="text" aria-label="Last name" placeholder="Navarrete Gómez" class="form-control">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="E-mail" aria-label="Email">
            <span class="input-group-text">@</span>
            <input type="text" class="form-control" placeholder="Dominio" aria-label="Dominio">
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Contraseña" aria-label="Password" aria-describedby="basic-addon1">
            <span class="input-group-text" id="basic-addon1">✓</span>
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Repetir Contraseña" aria-label="Password2" aria-describedby="basic-addon1">
            <span class="input-group-text" id="basic-addon1">✗</span>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button">Registrar</button>
        </div>
    </div>
</div>