<div class="card mt-5 mb-5">
    <div class="card-body">

        <select class="form-select" aria-label="Default select example">
            <option selected>Busqueda por categoria</option>
            <option value="1">Computadoras</option>
            <option value="2">Consolas</option>
            <option value="3">Celulares</option>
        </select>
        <!-- <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
        </div> -->
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Categoria</th>
                <th scope="col">Disponibilidad</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Laptop Omen 015</td>
                <td>Computadoras</td>
                <td>$1000000</td>
                <td>Si</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Nintendo Switch</td>
                <td>Consolas</td>
                <td>$1000000</td>
                <td>No</td>
            <tr>
                <th scope="row">2</th>
                <td>Xiaomi redmi note 7</td>
                <td>Celulares</td>
                <td>$1000000</td>
                <td>Si</td>
            </tr>
            </tbody>
          </table>

            <ul class="pagination d-flex justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
    </div>
  </div>
</div>