<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Chronicles Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/productos">Productos</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/buscador">Buscador</a>
                </li> -->
            </ul>
            <a type="button" routerLink="/ingreso" class="btn btn-secondary">
          Login
        </a>
            <!-- <span class="navbar-text">
          <div class="btn-group dropstart">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Bienvenido Rodrigo
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item text-dark" href="#">Informacion Personal</a></li>
              <li><a class="dropdown-item text-dark" href="#">Ajustes</a></li>
              <li><a class="dropdown-item text-dark" href="#">Desconectar</a></li>
            </ul>
          </div>
        </span> -->
        </div>
    </div>
</nav>